body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    min-height: 615px;
    min-width: 850px;
    display: grid;
    place-items: center;
}

/*font*/
@font-face {
    font-family: alliewriting;
    src: url("font/alliewriting.ttf");
}
@font-face {
    font-family: STHeiti-Light;
    src: url("font/STHeiti-Light.ttc");
}

/* content */
.content{
    display: flex;
    width: 100%;
    height: 100vh;
    min-width: 850px;
    min-height: 615px;
    background: #c2e9f6;
    overflow: auto;
}

.con-left{
    width: 50%;
    height: 100%;
    min-height: 615px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    padding: 100px;
    width: 255px;
}

/* main-menu */
.main-menu {
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    height: 200px;
    margin: 100px;
    display: flex;
    align-items: flex-end;
}

/* navigation */
.main-menu ul{
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}

.main-menu li {
    display: inline;
}

.main-menu .li2 {
    display: inline;
    padding-bottom: 20px;
}

.main-menu ul a {
    font-family: STHeiti-Light, serif;
    font-size: 30px;
    display:  block;
    text-decoration: none;
    color: black;
    text-align:center;
}

.con-right{
    width: 50%;
    height: 100%;
    min-height: 615px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    transition: all 0.25s ease-in;
}

/*choice-language*/
.con-right .choice-language{
    margin: 100px;
}

.con-right .choice-ch::before{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 130px;
    top: 103px;
    animation: switch-reverse 0.35s forwards;
}


.con-right .choice-en::before{
    position: absolute;
    width: 22px;
    height: 22px;
}

.con-right .choice-en::before{
    animation: switch 0.35s forwards;
}


@keyframes switch {
    0% {
        right: 130px;
    }
    60% {
        right: 120px;
        top:106px;
        height: 16px;
    }
    100% {
        right: 104px;
    }
}

@keyframes switch-reverse {
    0% {
        right: 104px;
    }
    60% {
        right: 114px;
        top:106px;
        height: 16px;
    }
    100% {
        right: 130px;
    }
}

/*head 公用*/
.head{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head .logo-ach{
    padding: 0 30px 0 40px;
}

.head ul{
    padding: 0;
    display: flex;
    flex-direction: row;
}

.head li {
    display: inline;
}


.head ul a {
    height: 60px;
    width: 115px;
    font-size: 16px;
    display:  flex;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.active {
    box-shadow: 0 1px 0 0 #181818;
}

.head .choice-language{
    text-decoration: none;
    margin: 0;
    position: absolute;
    right: 50px;
}

.head .choice-ch::before{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 28.5px;
    top: 1.5px;
    animation: switch-reverse-ach 0.35s forwards;
}


.head .choice-en::before{
    position: absolute;
    width: 22px;
    height: 22px;
}

.head .choice-en::before{
    animation: switch-ach 0.35s forwards;
}


@keyframes switch-ach {
    0% {
        right: 28.5px;
    }
    60% {
        right: 13px;
        top:3px;
        height: 16px;
    }
    100% {
        right: 1.5px;
    }
}

@keyframes switch-reverse-ach {
    0% {
        right: 1.5px;
    }
    60% {
        right: 15.6px;
        top:3px;
        height: 16px;
    }
    100% {
        right: 28.5px;
    }
}

/*achievement.html*/


/*phone*/
@media screen and (max-width: 850px){
    /*index.html*/
}