*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    overflow: auto ! important;
}

.scrollTop{
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(255, 236, 236, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    cursor: pointer;
    box-shadow: 2px 2px 2px #969696;
}

/*font*/
@font-face {
    font-family: alliewriting;
    src: url("font/alliewriting.ttf");
}
@font-face {
    font-family: STHeiti-Light;
    src: url("font/STHeiti-Light.ttc");
}

@font-face {
    font-family: STKAITI;
    src: url("font/STKAITI.ttf");
}

.STHeiti-Light {
    font-family: STHeiti-Light, serif;
}

.alliewriting{
    font-family: alliewriting, serif;
}

.STKAITI{
    font-family: STKAITI, serif;
}

/* content-i */
.content-i{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 615px;
    overflow: auto;
    flex-direction: row;
}

.con-left{
    width: 50%;
    height: 100%;
    min-height: 615px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    padding: 100px;
    width: 255px;
}

/* main-menu */
.main-menu {
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    height: 200px;
    margin: 100px;
    display: flex;
    align-items: flex-end;
}

/* navigation */
.main-menu ul{
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}

.main-menu li {
    display: inline;
}

.main-menu .li2 {
    display: inline;
    padding-bottom: 20px;
}

.main-menu ul a {
    font-family: STHeiti-Light, serif;
    font-size: 30px;
    display:  block;
    text-decoration: none;
    color: black;
    text-align:center;
}

.con-right{
    width: 50%;
    height: 100%;
    min-height: 615px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    transition: all 0.25s ease-in;
    position: relative;
}

/*choice-language*/
.con-right .choice-language{
    margin: 100px;
}

.con-right .choice-ch::before{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 130px;
    top: 103px;
    animation: switch-reverse 0.35s forwards;
}


.con-right .choice-en::before{
    position: absolute;
    width: 22px;
    height: 22px;
}

.con-right .choice-en::before{
    position: absolute;
    animation: switch 0.35s forwards;
}


@keyframes switch {
    0% {
        right: 130px;
    }
    60% {
        right: 120px;
        top:106px;
        height: 16px;
    }
    100% {
        right: 104px;
    }
}

@keyframes switch-reverse {
    0% {
        right: 104px;
    }
    60% {
        right: 114px;
        top:106px;
        height: 16px;
    }
    100% {
        right: 130px;
    }
}

/*header 公用*/

header{
    height: 150px;
    width: 100%;
    background-color: #c2e9f6;
}

.headMenu{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.headMenu .logo-ach{
    padding: 0 30px 0 40px;
}

.headMenu nav ul{
    padding: 0;
    display: flex;
    flex-direction: row;
}

.headMenu nav li {
    display: inline;
}

.headMenu nav ul a {
    height: 60px;
    width: 115px;
    font-size: 16px;
    display:  flex;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.headMenu nav .active {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #181818;
}

.headMenu .choice-language{
    text-decoration: none;
    margin: 0;
    position: absolute;
    right: 50px;
}

.headMenu .choice-ch::before{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 28.5px;
    top: 1px;
    animation: switch-reverse-ach 0.35s forwards;
}


.headMenu .choice-en::before{
    position: absolute;
    width: 22px;
    height: 22px;
    top: 1px;
    animation: switch-ach 0.35s forwards;
}


.headMenu nav .donate{
    width: 200px;
}

.mainContent{
    padding: 0 40px;
}

@keyframes switch-ach {
    0% {
        right: 28.5px;
    }
    60% {
        right: 13px;
        top:3px;
        height: 16px;
    }
    100% {
        right: 1px;
    }
}

@keyframes switch-reverse-ach {
    0% {
        right: 1px;
    }
    60% {
        right: 15.6px;
        top:3px;
        height: 16px;
    }
    100% {
        right: 28.5px;
    }
}

.navbar{
    display: none;
}

.headMenu #toggle {
    /* 让复选框隐藏 */
    display: none;
}



/*achievement.html*/


/*about.html*/
.selfIntroduction{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.personalPhoto{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.identityDetails{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.socialNetworkNavBar{
    padding: 5px 0 0 0;
}
.socialNetworkNavBar a{
    padding: 5px 5px 0 5px;
}

.showAchievements{
    height: 150px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    background: #a0c5d8;
    margin: 20px;
}

.showAchievements ul{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.showAchievements li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.links {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.links ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.links ul li {
    height: 100px;
    width: 300px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links ul li a{
    /*background: #c2e9f6;*/
    height: 80px;
    width: 280px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    border: 2px ridge #0f6baa;
    color: black;
    background-color: #ffffff;
}

.links img{
    padding: 0 20px;
}

.links .fAbout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*donate*/
.biliDonate{
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    min-width: 300px;
    background-color: #a0c5d8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biliDonate span{
    margin: 0 20px;
}

.biliDonate ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.biliVideo li{
    height: 150px;
    width: 260px;
    list-style: none;
    background-color: #cde9f4;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.biliVideo iframe{
    height: 100px;
    width: 200px;
    margin: 10px;
}


/*phone*/
@media screen and (max-width: 950px){
    header{

    }
    .headMenu .logo-ach{
        padding: 0 0 0 20px;
    }

    .headMenu nav
    {
        display: none;
    }

    .navbar{
        display: flex;
    }

    .navbar span{
        color: black;
    }

    .headMenu label {
        /* 将行内元素label转为块级元素 ,不然无法设置宽和高 */
        display: block;
        width: 48px;
        height: 48px;
        /* 鼠标移入边小手 */
        cursor: pointer;
        position: absolute;
        right: 20px;
    }
    .headMenu label .container {
        /* 相对定位 按照自己的本身位置移动,不会影响父盒子 */
        position: relative;
        top: 17px;
        left: 14px;
        width: 20px;
        height: 20px;
    }
    .headMenu label .container span {
        /* 先让两个重叠在一起 */
        position: relative;
        top: 0;
        /* 还是一样转为块级元素 设置宽和高 */
        display: block;
        height: 1px;
        background-color: #181818;
        /* 在设置取消选中的过渡时间 */
        /* 反之 */
        transition: transform 0.2s ease-in-out, top 0.2s ease-in-out 0.2s;
    }
    /* 设置第二条线 */
    .headMenu label .container span:nth-child(2) {
        top: 10px;
    }

    .headMenu label .container span:nth-child(3) {
        top: 4px;
    }
    /* 设置转换 */
    /* + 是相邻兄弟选择器 找相邻的label */
    .headMenu #toggle:checked + label .container span:nth-child(1) {
        top: 5px;
        /* 顺时针旋转45度 */
        transform: rotate(45deg);
        /* 现在很生硬,设置过渡时间 */
        /* 这个是先执行top这个属性,然后0.2s后执行旋转 */
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
    }
    /* 选中后的第二条线 */
    .headMenu #toggle:checked + label .container span:nth-child(2) {
        top: 5px;
        /* 逆时针旋转45度 */
        transform: rotate(-45deg);
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
    }

    .headMenu #toggle:checked + label .container span:nth-child(3) {
        display: none;
    }

    .headMenu .navbar ul {
        width: 140px;
        /* 内边距 */
        padding: 10px 20px 20px 20px;
        /* 缩放到0 就是没有 */
        transform: scaleY(0);
        /* 设置过渡时间 */
        transition: all 0.4s ease-in-out;
        /* 写这个值就是从最上面的中间开始缩放和放大,得到下拉的效果 */
        transform-origin: 50% 0;
        background-color: rgba(255, 236, 236, 0.5);
        backdrop-filter: blur(8px);
        /* 然后在设置一下透明度 达到更好的视觉效果 */
        /* 起初是全透明 */
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 15px;
        right: 60px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #969696;
    }

    .headMenu .navbar ul li {
        padding: 0;
        /* 取消小圆点 */
        height: 40px;
        width: 140px;
        list-style: none;
        color: #fff;
        font-size: 15px;
        display: flex;
        align-items: center;
    }

    .headMenu .navbar .active {
        background: #f3a8a8;
    }

    .navbar li a {
        padding: 0 0 0 5px;
        height: 30px;
        width: 150px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .navbar li a:hover{
        background: #A1E6FA;
    }

    .headMenu .choice-language{
        display: none;
    }

    .headMenu .choice-language2{
        position: absolute;
        right: 20px;
    }

    .headMenu .navbar .choice-ch2::before{
        width: 22px;
        height: 22px;
        position: absolute;
        left: 1px;
        top: 0.8px;
    }

    .headMenu .choice-en2::before{
        position: absolute;
        width: 22px;
        height: 22px;
        right: 1px;
        top: 0.8px;
    }

    .headMenu #toggle:checked ~ .navbar ul{
        transform: scaleY(1);
        /* 选中后是不透明 */
        opacity: 1;
    }

    .mainContent{
        padding: 0 20px;
    }

    /*index.html*/
    .content-i{
        display: none;
    }
    header{
        display: flex;
    }
}
