*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    overflow: auto !important;
}

.narrowScreen {
    display: none;
}

.scrollTop{
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(255, 236, 236, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    cursor: pointer;
    box-shadow: 0 0 5px #969696;
}

/*font*/
@font-face {
    font-family: alliewriting;
    src: url("css/font/alliewriting.ttf");
}
@font-face {
    font-family: STHeiti-Light;
    src: url("css/font/STHeiti-Light.ttc");
}

@font-face {
    font-family: STKAITI;
    src: url("css/font/STKAITI.ttf");
}

@font-face {
    font-family: SmileySans-Oblique;
    src: url("css/font/SmileySans-Oblique.ttf");
}

.STHeiti-Light {
    font-family: STHeiti-Light, serif;
}

.alliewriting{
    font-family: alliewriting, serif;
}

.STKAITI{
    font-family: STKAITI, serif;
}

.SmileySans-Oblique {
    font-family: SmileySans-Oblique, serif;
}

/* content-i */
.content-i{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 615px;
    overflow: auto;
    flex-direction: row;
}

.con-left{
    width: 50%;
    height: 100%;
    min-height: 615px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    padding: 100px;
    width: 255px;
}

/* main-menu */
.main-menu {
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    height: 200px;
    margin: 100px;
    display: flex;
    align-items: flex-end;
}

/* navigation */
.main-menu ul{
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}

.main-menu li {
    display: inline;
}

.main-menu .li2 {
    display: inline;
    padding-bottom: 20px;
}

.main-menu ul a {
    font-family: STHeiti-Light, serif;
    font-size: 30px;
    display:  block;
    text-decoration: none;
    color: black;
    text-align:center;
}

.con-right{
    width: 50%;
    height: 100%;
    min-height: 615px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    transition: all 0.25s ease-in;
    position: relative;
}

/*choice-language*/
.con-right .choice-language{
    margin: 100px;
}

.con-right .choice-ch::before{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 130px;
    top: 103px;
    animation: switch-reverse 0.35s forwards;
}


.con-right .choice-en::before{
    position: absolute;
    width: 22px;
    height: 22px;
}

.con-right .choice-en::before{
    position: absolute;
    animation: switch 0.35s forwards;
}


@keyframes switch {
    0% {
        right: 130px;
    }
    60% {
        right: 120px;
        top:106px;
        height: 16px;
    }
    100% {
        right: 104px;
    }
}

@keyframes switch-reverse {
    0% {
        right: 104px;
    }
    60% {
        right: 114px;
        top:106px;
        height: 16px;
    }
    100% {
        right: 130px;
    }
}

/*header 公用*/

header{
    height: 150px;
    width: 100%;
}

header .head-picture {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 150px;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.headMenu{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;
}

.headMenu .logo-ach{
    padding: 0 30px 0 40px;
}

.headMenu nav ul{
    padding: 0;
    display: flex;
    flex-direction: row;
}

.headMenu nav li {
    display: inline;
}

.headMenu nav ul a {
    height: 60px;
    width: 115px;
    font-size: 16px;
    font-weight: 550;
    display:  flex;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.headMenu nav .active {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #181818;
}

.headMenu .choice-language{
    text-decoration: none;
    margin: 0;
    position: absolute;
    right: 50px;
}

.headMenu .choice-ch::before{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 28.5px;
    top: 1px;
    animation: switch-reverse-ach 0.35s forwards;
}


.headMenu .choice-en::before{
    position: absolute;
    width: 22px;
    height: 22px;
    top: 1px;
    animation: switch-ach 0.35s forwards;
}


.headMenu nav .donate{
    width: 200px;
}

.mainContent{
    padding:40px;
}

@keyframes switch-ach {
    0% {
        right: 28.5px;
    }
    60% {
        right: 13px;
        top:3px;
        height: 16px;
    }
    100% {
        right: 1px;
    }
}

@keyframes switch-reverse-ach {
    0% {
        right: 1px;
    }
    60% {
        right: 15.6px;
        top:3px;
        height: 16px;
    }
    100% {
        right: 28.5px;
    }
}

.navbar{
    display: none;
}

.headMenu #toggle {
    /* 让复选框隐藏 */
    display: none;
}



/*achievement.html*/
.wantShow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wantShow .paintings,
.wantShow .videos,
.wantShow .software,
.wantShow .repositories{
    width: 900px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.wantShow .paintings .title{
    width: 100%;
    height: 50px;
}

.wantShow .paintings .separator{
    width: 100%;
    height: 20px;
}

.wantShow .paintings .wideScreen ul {
    width: 900px;
    height: 320px;
    /* 溢出隐藏 */
    overflow: hidden;
    transition: all .3s;
    display: flex;
    flex-direction: row;
}

.wantShow .paintings .wideScreen ul li {
    /* 相对定位 */
    position: relative;
    float: left;
    list-style-type: none;
    width: 180px;
    height: 320px;
    transition: all .5s;
}

.wantShow .paintings .wideScreen ul li p {
    /* 绝对定位 */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .3s;
}

.wantShow .paintings .wideScreen ul li:hover p {
    font-size: 20px;
}

.wantShow .paintings .wideScreen ul:hover li {
    width: 65px;
}

.wantShow .paintings .wideScreen ul li:hover {
    width: 640px;
}

/*about.html*/
.selfIntroduction{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.personalPhoto{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.identityDetails{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.socialNetworkNavBar{
    padding: 5px 0 0 0;
}
.socialNetworkNavBar a{
    padding: 5px 5px 0 5px;
}

.showAchievements{
    height: 150px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    background: #a0c5d8;
    margin: 20px;
}

.showAchievements ul{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.showAchievements li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.links {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0 0;
}

.links ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    overflow: hidden;
}

.links ul li {
    height: 100px;
    width: 300px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links ul li a{
    /*background: #c2e9f6;*/
    height: 80px;
    width: 280px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    color: black;
    background-color: #cde9f4;
}

.links img{
    padding: 0 20px;
}

.links .fAbout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*donate*/
.biliDonate{
    padding: 20px 0;
    width: 100%;
    min-width: 300px;
    background-image: linear-gradient(to right bottom, #d6e1f7, #d3e1f8, #d0e2fa, #cde2fb, #cae3fc, #cbe4fc, #cde5fc, #cee6fc, #d3e8fb, #d9eafb, #deecfa, #e3eef9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.biliDonate span{
    margin: 0 20px;
}

/*phone*/
@media screen and (max-width: 950px){
    .wideScreen {
        display: none;
    }

    .narrowScreen {
        display: flex;
    }

    .headMenu .logo-ach {
        padding: 0 0 0 20px;
    }

    .headMenu nav {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar span {
        color: black;
    }

    .headMenu label {
        /* 将行内元素label转为块级元素 ,不然无法设置宽和高 */
        display: block;
        width: 48px;
        height: 48px;
        /* 鼠标移入边小手 */
        cursor: pointer;
        position: absolute;
        right: 20px;
    }
    .headMenu label .narrow-screen {
        /* 相对定位 按照自己的本身位置移动,不会影响父盒子 */
        position: relative;
        top: 17px;
        left: 14px;
        width: 20px;
        height: 20px;
    }
    .headMenu label .narrow-screen span {
        /* 先让两个重叠在一起 */
        position: relative;
        top: 0;
        /* 还是一样转为块级元素 设置宽和高 */
        display: block;
        height: 1px;
        background-color: #181818;
        /* 在设置取消选中的过渡时间 */
        /* 反之 */
        transition: transform 0.2s ease-in-out, top 0.2s ease-in-out 0.2s;
    }
    /* 设置第二条线 */
    .headMenu label .narrow-screen span:nth-child(2) {
        top: 10px;
    }

    .headMenu label .narrow-screen span:nth-child(3) {
        top: 4px;
    }
    /* 设置转换 */
    /* + 是相邻兄弟选择器 找相邻的label */
    .headMenu #toggle:checked + label .narrow-screen span:nth-child(1) {
        top: 5px;
        /* 顺时针旋转45度 */
        transform: rotate(45deg);
        /* 现在很生硬,设置过渡时间 */
        /* 这个是先执行top这个属性,然后0.2s后执行旋转 */
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
    }
    /* 选中后的第二条线 */
    .headMenu #toggle:checked + label .narrow-screen span:nth-child(2) {
        top: 5px;
        /* 逆时针旋转45度 */
        transform: rotate(-45deg);
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
    }

    .headMenu #toggle:checked + label .narrow-screen span:nth-child(3) {
        display: none;
    }

    .headMenu .navbar ul {
        width: 140px;
        /* 内边距 */
        padding: 10px 20px 20px 20px;
        /* 缩放到0 就是没有 */
        transform: scaleY(0);
        /* 设置过渡时间 */
        transition: all 0.4s ease-in-out;
        /* 写这个值就是从最上面的中间开始缩放和放大,得到下拉的效果 */
        transform-origin: 50% 0;
        background-color: rgba(255, 236, 236, 0.5);
        backdrop-filter: blur(8px);
        /* 然后在设置一下透明度 达到更好的视觉效果 */
        /* 起初是全透明 */
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 15px;
        right: 60px;
        border-radius: 10px;
        box-shadow: 0 0 5px #969696;
    }

    .headMenu .navbar ul li {
        padding: 0;
        /* 取消小圆点 */
        height: 40px;
        width: 140px;
        list-style: none;
        color: #fff;
        font-size: 15px;
        display: flex;
        align-items: center;
    }

    .headMenu .navbar .active {
        background: #f3a8a8;
    }

    .navbar li a {
        padding: 0 0 0 5px;
        height: 30px;
        width: 150px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .navbar li a:hover{
        background: #A1E6FA;
    }

    .headMenu .choice-language{
        display: none;
    }

    .headMenu .choice-language2{
        position: absolute;
        right: 20px;
    }

    .headMenu .navbar .choice-ch2::before{
        width: 22px;
        height: 22px;
        position: absolute;
        animation: switch-reverse-ach-phone 0.35s forwards;
    }

    .headMenu .navbar .choice-en2::before{
        position: absolute;
        width: 22px;
        height: 22px;
        animation: switch-ach-phone 0.35s forwards;
    }

    @keyframes switch-ach-phone {
        0% {
            right: 29px;
        }
        60% {
            right: 13px;
        }
        100% {
            right: 1px;
        }
    }

    @keyframes switch-reverse-ach-phone {
        0% {
            right: 1px;
        }
        60% {
            right: 15px;
        }
        100% {
            right: 29px;
        }
    }

    .headMenu #toggle:checked ~ .navbar ul{
        transform: scaleY(1);
        /* 选中后是不透明 */
        opacity: 1;
    }

    .mainContent{
        padding: 20px;
    }

    /*index.html*/
    .content-i{
        display: none;
    }
    header{
        display: flex;
    }

    /*achievement.html*/
    .wantShow .paintings,
    .wantShow .videos,
    .wantShow .software,
    .wantShow .repositories{
        width: 100%;
        height: 500px;
    }

    .paintings .narrowScreen {
        width: 600px;
        height: 400px;
        overflow: hidden;
    }
    .paintings .narrowScreen ul {
        /* 清除li元素前面的小黑点 */
        list-style: none;
        /* 相对定位 */
        position: relative;
        width: 100%;
        height: 100%;
        /* 弹性布局  */
        display: flex;
        /* 让子元素(弹性项目)平均分配宽度 */
        justify-content: space-between;
        /* 这个属性是让子元素在交叉轴(Y轴)的最下面排列 */
        /* 默认在最上面  加了就在最下面*/
        align-items: flex-end;
    }
    /* 小图片 start */
    .paintings .narrowScreen ul li  {
        width: 100%;
        /* 加个透明边框 让图片看起来有距离 */

    }

    .paintings .narrowScreen .imgLi{
        width: 109px;
        height: 55px;
        background: #77c4e2;
        margin: 6px;
        border-radius: 10px;
    }
    /* 小图片 end */

    /* 大图片 start */
    .paintings .narrowScreen ul .bigImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 600px;
        height: 300px;
        /* 给大图片 也加一个透明边框 不为了啥 就是为了和小图片对称 */
        border: 5px solid transparent;
        /* 背景   图片路径   no-repeat是让图片不重复 默认是重复的 */
        background: url(./images/1.jpg) no-repeat;
        /* 图片以宽度为最大铺满整个盒子 */
        background-size: contain;
        transition: all 0.5s;
    }
    /* 大图片 end */

    /* 移动框 start */
    .paintings .narrowScreen ul .frame {
        position: absolute;
        left: 5px;
        bottom: 4px;
        width: 100px;
        height: 50px;
        border: 5px solid #f2cac9;
        /* 这里有bug 一直闪烁 这个问题的原因就是 这个移动框虽然没有背景色 但是覆盖了这个图片 */
        /* 加这个属性就可以了 让这个移动框 不在被鼠标捕捉到 */
        pointer-events: none;
        /* 加过渡 */
        transition: all 0.5s;
        border-radius: 10px;
    }
    /* 用伪元素做三角 */
    .paintings .narrowScreen ul .frame::before {
        content: "";
        position: absolute;
        top: -19px;
        /* calc方法自动计算 让三角盒子水平居中 */
        left: calc(50% - 15px);
        width: 30px;
        height: 15px;
        background-color: #f2cac9;
        /* 这个属性我在导航栏那一期有讲 可以去看看 这里就不啰嗦了 */
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }
    /* 移动框 end */
    .paintings .narrowScreen ul li:nth-child(1):hover ~ .bigImg {
        background-image: url(./images/1.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(1):hover ~ .frame {
        left: 5px;
    }
    .paintings .narrowScreen ul li:nth-child(2):hover ~ .bigImg {
        background-image: url(./images/2.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(2):hover ~ .frame {
        left: 126px;
    }
    .paintings .narrowScreen ul li:nth-child(3):hover ~ .bigImg {
        background-image: url(./images/3.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(3):hover ~ .frame {
        left: 248px;
    }
    .paintings .narrowScreen ul li:nth-child(4):hover ~ .bigImg {
        background-image: url(./images/4.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(4):hover ~ .frame {
        left: 369px;
    }
    .paintings .narrowScreen ul li:nth-child(5):hover ~ .bigImg {
        background-image: url(./images/5.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(5):hover ~ .frame {
        left: 490px;
    }

}

@media screen and (max-width: 650px){
    .wantShow .paintings,
    .wantShow .videos,
    .wantShow .software,
    .wantShow .repositories{
        width: 100%;
        height: 300px;
    }

    .paintings .narrowScreen {
        width: 300px;
        height: 200px;
        overflow: hidden;
    }
    .paintings .narrowScreen ul {
        /* 清除li元素前面的小黑点 */
        list-style: none;
        /* 相对定位 */
        position: relative;
        width: 100%;
        height: 100%;
        /* 弹性布局  */
        display: flex;
        /* 让子元素(弹性项目)平均分配宽度 */
        justify-content: space-between;
        /* 这个属性是让子元素在交叉轴(Y轴)的最下面排列 */
        /* 默认在最上面  加了就在最下面*/
        align-items: flex-end;
    }
    /* 小图片 start */
    .paintings .narrowScreen ul li  {
        width: 100%;
        /* 加个透明边框 让图片看起来有距离 */

    }
    .paintings .narrowScreen .imgLi{
        width: 54px;
        height: 27px;
        background: #77c4e2;
        margin: 3px;
        border-radius: 5px;
    }
    /* 小图片 end */

    /* 大图片 start */
    .paintings .narrowScreen ul .bigImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 150px;
        /* 给大图片 也加一个透明边框 不为了啥 就是为了和小图片对称 */
        border: 2px solid transparent;
        /* 背景   图片路径   no-repeat是让图片不重复 默认是重复的 */
        background: url(./images/1.jpg) no-repeat;
        /* 图片以宽度为最大铺满整个盒子 */
        background-size: contain;
        transition: all 0.5s;
    }
    /* 大图片 end */

    /* 移动框 start */
    .paintings .narrowScreen ul .frame {
        position: absolute;
        left: 2px;
        bottom: 1px;
        width: 50px;
        height: 25px;
        border: 3px solid #f2cac9;
        /* 这里有bug 一直闪烁 这个问题的原因就是 这个移动框虽然没有背景色 但是覆盖了这个图片 */
        /* 加这个属性就可以了 让这个移动框 不在被鼠标捕捉到 */
        pointer-events: none;
        /* 加过渡 */
        transition: all 0.5s;
        border-radius: 10px;
    }
    /* 用伪元素做三角 */
    .paintings .narrowScreen ul .frame::before {
        content: "";
        position: absolute;
        top: -9px;
        /* calc方法自动计算 让三角盒子水平居中 */
        left: calc(50% - 7px);
        width: 15px;
        height: 7px;
        background-color: #f2cac9;
        /* 这个属性我在导航栏那一期有讲 可以去看看 这里就不啰嗦了 */
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }
    /* 移动框 end */
    .paintings .narrowScreen ul li:nth-child(1):hover ~ .bigImg {
        background-image: url(./images/1.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(1):hover ~ .frame {
        left: 2px;
    }
    .paintings .narrowScreen ul li:nth-child(2):hover ~ .bigImg {
        background-image: url(./images/2.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(2):hover ~ .frame {
        left: 62px;
    }
    .paintings .narrowScreen ul li:nth-child(3):hover ~ .bigImg {
        background-image: url(./images/3.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(3):hover ~ .frame {
        left: 122px;
    }
    .paintings .narrowScreen ul li:nth-child(4):hover ~ .bigImg {
        background-image: url(./images/4.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(4):hover ~ .frame {
        left: 182px;
    }
    .paintings .narrowScreen ul li:nth-child(5):hover ~ .bigImg {
        background-image: url(./images/5.jpg);
    }
    .paintings .narrowScreen ul li:nth-child(5):hover ~ .frame {
        left: 242px;
    }
}